* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}
:root {
  --primaryColor: #ff7c19;
  --secondaryColor: #ffffff;
  --gold: #e0c56e;
  --black: #000000;
  --mainTransition: all 1s;
}
body {
  background-color: var(--secondaryColor);
}
/* Navbar */
.navbar {
  background-color: none;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.navbar-logo {
  color: var(--black);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.navbar-logo:hover {
  color: var(--primaryColor);
}

.crown {
  margin-left: 0.8rem;
  margin-top: 0.2rem;
  font-size: 1.8rem;
}
.crown:hover {
  color: var(--gold);
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: var(--black);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  color: var(--primaryColor);
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.menu-icon {
  display: none;
  margin-top: -13px;
}
.menu-icon:hover {
  color: var(--primaryColor);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--primaryColor);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .crown {
    display: none;
  }

  .nav-links:hover {
    color: var(--secondaryColor);
    text-decoration: none;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
/* end navbar */
/* Landing page */
.hero-container {
  background: url('images/queen.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(238, 177, 63, 0.2);
}
.message {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.home-social {
  position: absolute;
  font-size: 50px;
  bottom: 0.5em;
}
@media screen and (max-width: 768px) {
  .message {
    text-transform: uppercase;
    text-align: center;
  }
  .home-social {
    position: absolute;
    font-size: 50px;
    bottom: -1.5em;
  }
}
/* end of landing page */
/* single profile */
.profile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.leftside,
.rightside {
  text-align: center;
  width: 50%;
  height: 100vh;
  background: var(--secondaryColor);
  border-radius: 0.8rem;
}
.leftside:hover,
.rightside:hover {
  background: var(--gold);
}
.image1,
.image2 {
  text-align: center;
  max-width: 100%;
  height: 650px;
  width: 700px;
  padding: 10px 8px;
  border-radius: 1.5rem;
}
.name {
  text-align: center;
  text-transform: capitalize;
}
.name:hover {
  text-decoration: underline;
}
.bio {
  text-align: center;
  padding: 5px 20px;
}
.profileSocial {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .leftside,
  .rightside {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    background: var(--secondaryColor);
  }

  .profile {
    width: 100%;
    padding: 5%;
  }
  .bio {
    text-align: center;
    padding: 5px 72px;
  }
}
/* end of single profile */
.heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: bold;
}
.podcast {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem 0;
}
.singleCard {
  background-color: var(--gold);
  border-radius: 0.8rem;
  margin: 1rem 0;
}
.singleCard img {
  width: 100%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.image-container {
  align-items: center;
}
/* .date {
  position: absolute;
  display: block;
  top: 13%;
  right: 18%;
  color: var(--secondaryColor);
  font-size: 1.2rem;
} */
.podcast-info {
  padding: 1rem 0.5rem;
}
.podcast-info h3 {
  text-transform: uppercase;
  color: var(--black);
}
.podcast-info h4 {
  text-transform: capitalize;
  color: var(--black);
  margin: 0.8rem 0 0.6rem 0;
}
.podcast-info h5 {
  color: var(--black);
  margin: 1.2rem 0 0.6rem 0;
}
.podcast-info p {
  color: var(--black);
}
.info-dropdown {
  font-size: 1.2rem;
  cursor: pointer;
}
.itunes,
.spotify {
  font-size: 3rem;
  padding: 0 0.4rem;
  cursor: pointer;
  margin: 0rem 0.5rem;
}
.itunes:hover {
  color: rgb(121, 3, 121);
}
.spotify:hover {
  color: rgb(0, 143, 24);
}
@media screen and (min-width: 768px) {
  .podcast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .podcast {
    width: 85vw;
    grid-template-columns: repeat(3, 1fr);
    /* same as writting 1fr 1fr 1fr */
  }
}
@media screen and (min-width: 1140px) {
  .podcast {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Podcasts */
