* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}
:root {
  --primaryColor: #ff7700;
  --secondaryColor: #f1e7dd;
  --black: #080808;
  --mainTransition: all 1s;
  --mainSpacing: 3px;
}
body {
  font-family: 'Playfair Display', serif;
  background-color: var(--secondaryColor);
}
/* global styling */
/* Navbar */
.navbar {
  position: sticky;
  z-index: 2;
  background: transparent;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.navbar.active {
  background: transparent;
}
.navbar-logo {
  color: var(--black);
  position: relative;
}
.navbar a:hover {
  color: var(--primaryColor);
  text-decoration: none;
}
.navbar h1:hover {
  color: var(--primaryColor);
  text-decoration: none;
}
.menu-icon {
  margin-bottom: 10px;
  margin-left: 3px;
  font-size: 30px;
  display: none;
}
.nav-links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-top: 10px;
  margin-right: 2rem;
}
li a {
  color: var(--black);
  padding: 0.5rem 1rem;
}
.menu-icon:hover {
  color: var(--primaryColor);
}
@media (max-width: 1020px) {
  .navbar {
    position: fixed;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -600px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links.active {
    background: var(--primaryColor);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  li a {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }
  .navbar a:hover {
    color: white;
    border-radius: 1;
  }
  .navbar-logo {
    position: relative;
  }
  .menu-icon {
    display: block;
    position: relative;
  }
}
/* End of navbar */

/* Home */
img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  margin-top: -88px;
}
/* Landing page */
.welcome-message {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  margin-top: -34%;
  z-index: 1;
  font-weight: 900;
}
.welcome-message h1 {
  font-weight: 900;
}
.arrow-down {
  width: 0;
  height: 0;
  align-items: center;
  background-color: transparent;
  position: relative;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid rgb(255, 72, 0);
  margin-left: 50%;
  margin-top: 27.3%;
  right: 50px;
}
.arrow-down:hover {
  cursor: pointer;
}
@media (max-width: 1020px) {
  .welcome-message {
    margin-top: -60vh;
  }
  .arrow-down {
    display: none;
  }
}
/* End of landing page */

/* HomeScroll */
.scroll-button {
  position: relative;
  background-color: transparent;
  border: transparent;
  top: -45px;
  left: -25px;
  text-transform: uppercase;
}

/* End HomeScroll */
/* HeaderTitle */
.header-title {
  position: relative;
  text-transform: capitalize;
  text-align: center;
  padding: 2rem 0;
}
.header-title h4 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-decoration: underline overline;
}
.header-title h4:hover {
  text-decoration: underline overline;
}
/* end HeaderTitle */
